// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

// Set your brand colors
$green: #976DD0;
$purple: #8A4D76;
$orange: #FF9052;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$info: $orange;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;
$navbar-burger-color: white;
$navbar-item-img-max-height: 3rem;

// Import the rest of Bulma
@import "../node_modules/bulma/bulma.sass";

.is-bold {
  h3 { color:$orange; }
}

.featured {

  h3 { 
    color: $purple; 
    font-weight: bold; 
    font-size: $size-4; 
  }

  figure {
    margin-bottom: 1rem;
  }

  .column { text-align: center; }
  .slug { 

    padding-top: 1rem;
    
    span { 
      margin-top: 3rem !important; 
      color: $grey-light; 
      font-size: $size-5;
    } 

  }
}

.columns.is-vcentered {
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
  }

.is-horizontal-right {
  justify-content: right;
}

.has-text-purple {
  color: $purple !important;
}